input[type=text]
{
    width:30%;
    padding: 5px 5px;
    margin: 5px 0;
    border: 1px solid;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

input[type=submit]
{
    border: none;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    margin: 4px 5px;
    width: 65%;
}

textarea
{
    width:75%;
    border: 1px solid;
    align-content: center;
    background-color: #f8f8f8;
}
